/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#code-container{
    display: flex;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 80%;
    height: 70%;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#verification_heading{
    color: #000000;
    font-size: 18px;
}
#verification_subtext{
    color: #757575;
    font-size: 12px;
}
.code{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #757575;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.code:focus{
    outline: none;
}
.code::placeholder{
    color: gray;
    font-size: 25px;
}
.code-container{
    margin-top: 15px;
}
